@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* media queries */
/* Styles pour les écrans de petite taille */
@media only screen and (max-width: 768px) {
    .logo-container {
        text-align: center;
    }
    .nav-links {
        display: none; /* Masquer la navigation principale sur les petits écrans */
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        background-color: #FFFFFF;
        z-index: 1;
    }
    .nav-links.open{
        display: flex; /*Afficher la navigaion lorque le menu est ouver*/
    }
    .nav-links li{
        margin: 10px 0; /* espacement entre les éléments du menu */
    }

    .nav-toggle{
        display: block;
        cursor: pointer;
        color: #FFFFFF;
        background-color:  #333;
        padding: 10px;
    }
}

/* Styles pour les écrans de taille moyenne à grande */
@media only screen and (min-width: 768px) {
    .nav-links {
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .nav-links li {
        margin-left: 20px;
    }
}

/* main styles*/
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
body{
   font-family: "Roboto", sans-serif;
   color: #2d2f31;
   margin: 0;
   padding: 0;
}
.wrapper{
   display: flex;
   min-height: 100vh;/* hauteur du wrapper a 100vh = 100% du viewport height*/
   flex-direction: column; /* affichage en colonne */
}
main{
    flex-grow: 1; /* section main occupe l'espace disponible*/
}
a{
    text-decoration: none;
}
/********************************* HEADER SECTION *********************************/
/* aligner les elements du header*/
header{
    display: flex;
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid #0000001f;
    align-items: center;
    padding: 0 30px 0 30px;
}
/* remove style on logo*/
header .logo{
    text-decoration: none;
    color: #9ACD32;
}

/* remove bullet on unordered list */
header ul {
    list-style-type: none;
}

header .searchList{
    display: flex;
    gap: 50px;
}
.exploreButton{
    border: none;
    background: none;
    color: whitesmoke;
    height: 40px;
    width: 120px;
    min-width: 120px;
    margin: auto 25px;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: 	#9ACD32;
    border-radius: 25px;
}
.exploreButton:hover{
    border:#9ACD32;
    background-color: whitesmoke;
    color:#9ACD32;
}
.exploreButtonArrow{
    margin-left: 5px;
}
.searchBar{
    flex-grow: 0.6;
    height: 2.4rem;
    border: 1px solid #2d2f31;
    border-radius: 9999px;
    background-color: #f7f9fa;
    margin: 0 1.2rem;
    align-items: center;
    padding-left: 20px;
}
#searchBarForm{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 2.5rem 0 0;
}
#searchBarForm > input{
    background-color: transparent;
    outline: none;
    font-size: 1rem;
    border: 0; /*enleve les bordures du input*/
    flex: 1;
}
.searchBarButton{
    border: none;
    background-color:#9ACD32;
    border-radius: 25px 25px;
    padding: 5px 5px;

}
.nav-links{
    padding-top: 10px;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    font-weight: bold;
}

.signIn{
    background-color: transparent;
    border: 1px solid #2d2f31;
    padding:10px 20px ;
    border-radius: 50px;
}
.signIn a{
    color:#2d2f31;
}
.register{
    background-color:#9ACD32;
    padding:10px 20px ;
    border-radius: 50px;
}
.register a{
    color: white;
}
.signIn:hover, .register:hover{
    cursor:pointer;
}
.cart > a > img{
    width: 25px;
    height: 25px;
}
#searchBarForm{
    align-items: center;
}

/********************************* MAIN SECTION *********************************/

/* carousel section */
.carousel-container {
    width: 100%;
    height: 100%;
    margin: 0 20px 0 2Px;
}
.slideshow-container {
        width: 100%;
        position: relative;
        margin: 0 auto;
        padding: 20px 20px;
}

.mySlides {
    display: none;
}

.mySlides img {
    width: 100%;
    height: 600px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 26px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next{ 
    right: 20px; /* positionner le bouton next a droite */
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
}

.dot-container {
    text-align: center;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.fade { /* fade animation */
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
.active, .dot:hover {
    background-color: #717171;
}
/* section partenaires */
.partners-section{
    text-align: center;
    width: 100%;
    margin: 0 auto;
    min-height: 300;
}
.partners-logo-heading{
    margin-bottom: 50px;
    padding-top: 50px;
}
.partners-logo-module{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    margin: 0 auto;
    max-width: 1132px;
    padding: 0 10px;
}
.partners-logo-module a > img{
    max-height: 50px;
    margin-bottom: 50px;
}

/* Section les meilleurs catégories */
.top-categories{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content:center;
}
.top-categories-title{
    margin: 0 0 3rem;
}
.top-categories a{
    text-decoration: none;
}
.top-categories a span{
    font-size: 1.3rem;
    color: black;
    font-weight: bold;
    line-height: 1.2rem;
}
.categorie-card{
    margin: 0 1.6rem 1.6rem 0
}
.categorie-card-title{
    padding: 0.8rem 0 1.6rem 0.8rem;
}
.categorie-img-wrapper{
    overflow: hidden;
}
.categorie-img-wrapper img{
    height: 300px;
    width: 300px;
}
/* les formations recommandés par catégorie*/
.component-margin{
    margin-top: 6.4rem;
}
.background-pale{
    background-color: #f7f9fa;
}
.bb-container{
    width: 100%;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2.4rem;
    padding-left: 2.4rem;
}
.topics-section{
    padding: 6.4rem 2.4rem;
}
.section-title{
    margin-bottom: 2.4rem;
}
.topics-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.topics-category{
    padding-right: 0.8rem;
    display: inline-block;
    margin-bottom: 2.4rem;
}
.topics-title{
    margin-bottom: 2.4rem;
}
.topics-infos{
    margin-top: 2.4rem;
}
.topics-link{
    font-weight: bolder;
    text-decoration: underline;
    color:#9ACD32;
}
/********************************* FOOTER SECTION *********************************/

.footer, .footer-section{
    background: #1c1d1f ;
    border-top: 1px solid #3e4143;;
    color: #ffffff;
}

.fs1{
    padding: 1rem 0;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
}
.fs2{
    padding-top: 3rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
}
.links{
    display: flex;
    gap: 80px;
}
ul{
    list-style-type: none; 
}
li{
    margin-bottom: 10px;
}

.link{
    text-decoration: none;
    color: #ffffff;
    font-size: small;
}
.logo-copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    padding-top: 3rem;
}
footer .logo{
    text-decoration: none;
    color: #9ACD32;
}